body {
  font-family: "New Times Roman";
  text-align: center;
}
.container{
  width: 50%;
  height: 50vh;
  background-color: blue;
  border-radius: 20px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 1px;
  padding: 2px;

}

input,
button {
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  margin: 1rem;
  
}
button:hover{
  color: aqua;
  background-color: black;
  transition: transform 0.5s;
}
input {
  border: 1px solid aqua;
  background-color: black;
  color: aqua;
  width: 300px;
  height: 10vh;
}

button {
  background-color: aqua;
  color: #fff;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
}